@{
    ViewBag.Title = "Home Page";
}

<main>
    <div style="width:100%;background-color:azure;margin:10px">
        <div class="navbar">
            <h1>Reve Systems</h1>
            <nav>
                <a class="btn" href="/Home/Index">Home</a>
                <a class="btn" href="/Home/Services">Services</a>
                <a class="btn" href="/Home/Teams_and_Member">Teams and Member</a>
                <a class="btn" href="/Home/Contact">Contact</a>
            </nav>
        </div>
    </div>
    <div style="width:100%">
        <div style="width:50%;height:300px;float:left;">
            <h1>@ViewBag.Message</h1>
                <ul>
                    <li>Client Management</li>
                    <li>Web Based Interface</li>
                    <li>Campaign Management</li>
                </ul>
        </div>
        <div style="width:50%;height:300px;float:right">
            
        </div>
    </div>
    <div>
        <h1 style="text-align:center">@ViewBag.Message1</h1>
    </div>
</main>