
@{
    ViewBag.Title = "Services";
}

<div style="width: 100%; background-color: azure; margin: 10px">
    <div class="navbar">
        <h1>Reve Systems</h1>
        <nav>
            <a class="btn" href="/Home/Index">Home</a>
            <a class="btn" href="/Home/Services">Services</a>
            <a class="btn" href="/Home/Teams_and_Member">Teams and Member</a>
            <a class="btn" href="/Home/Contact">Contact</a>
        </nav>
    </div>
</div>

<h2>Services</h2>
<ol>
    @foreach (var item in Model)
    {
        <li>@item.Title
            <ul>
                <li>Price - @item.Price</li>
            </ul>
        </li>
    }
</ol>